<!DOCTYPE html>
<html><head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">  
	    <title>404</title>
    
	    <link href="../static/login_files/css.css" rel="stylesheet">
	    <link href="../static/login_files/bootstrap.css" rel="stylesheet">
	    <link href="../static/login_files/font-awesome.css" rel="stylesheet">
	    <link href="../static/login_files/templatemo-style.css" rel="stylesheet">
        <link href="../static/login_files/style.css" rel="stylesheet">
		<link href="../static/login_files/normalize.css" rel="stylesheet">

		<link href="../static/bootstrap/css/bootstrap.css" rel="stylesheet">
		<script src="../static/jquery-3.3.1.js"></script>
		<script src="../static/bootstrap/js/bootstrap.js"></script>
		
	</head>
	
	
	<body style="overflow:-Scroll;overflow-y:hidden;"> 
		<section id="slider">
			<div class="single-slider">
				<div id="particles-js">
					
				<canvas class="particles-js-canvas-el" style="width: 100%; height: 100%;"></canvas></div>
				<!--登陆窗口-->
				<div class="templatemo-content-widget templatemo-login-widget white-gray-bg">
					<center>
	          			<h1 style=" font-family: '书体坊安景臣钢笔行书'; color: red">页面走丢了</h1>
					</center>
	    		</div>
			</div>
		</section>
		
		<!--js设置背景-->
		<script src="../static/login_files/particles.js"></script>
		<script src="../static/login_files/particle-code.js"></script>

</body></html>